/* File: application.scss. For dynamic elements of page. */
/* File: _normalize.scss. Provides the base theme. */
@import url("https://fonts.googleapis.com/css?family=Cutive|Potano+Sans");
html {
  font-size: 16px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header, nav, footer, aside, section, article, figure,
table, tr, td {
  display: block; }

body {
  background: #B4DBC0;
  color: #3F1A0E; }

a {
  text-decoration: none; }

/* Styles for sections. Layout. */
@media (min-width: 0) {
  body::before {
    content: '{ "current" : "small", "all" : [small ], "position" : 0 }';
    display: none; } }

/*! Grid based on https://github.com/necolas/griddle by Nicolas Gallagher (@necolas) */
body {
  font-size: 1em; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25em;
  padding-right: 1.25em; }

img {
  max-width: 100%; }

.no-js .responsive-image {
  display: none; }

.grid {
  display: block;
  padding: 0;
  margin: 0 -0.625em;
  text-align: left;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed; }

.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em; }

.grid > .grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0; }

.grid__cell {
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.625em;
  /* controls vertical positioning of units */
  vertical-align: top;
  /* keeps unit content correctly aligned */
  text-align: left;
  /* reset text defaults */
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto; }

.grid--center {
  text-align: center; }

.grid__cell--center {
  display: block;
  margin: 0 auto; }

div#page {
  overflow: hidden; }

nav.navbar {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 3em;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 999; }
  nav.navbar ul.nav {
    display: block; }
    nav.navbar ul.nav li {
      display: inline-block;
      margin: .4em 3em; }
  nav.navbar div.dropdown {
    display: none; }

div#resume_container {
  width: 100%;
  height: 100%;
  opacity: .98;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  overflow: auto;
  background-color: #0A1612; }
  div#resume_container div.iframe_container iframe {
    width: 900px;
    height: 650px;
    position: absolute;
    left: 37%;
    top: 10%; }
  div#resume_container div.iframe_container img#resume_close {
    width: 22px;
    height: auto;
    position: absolute;
    right: 925px;
    top: 74px;
    cursor: pointer;
    background-color: #FFFFFF; }

div.carousel-slide {
  display: block;
  clear: both;
  overflow: auto;
  margin: 0; }
  div.carousel-slide h2.title {
    text-align: center;
    margin: 1em; }
  div.carousel-slide p {
    text-align: center; }

div.intro-slide a.headline {
  font-size: 26px;
  position: absolute;
  top: 100px;
  left: 60px;
  z-index: 1; }
  div.intro-slide a.headline div {
    width: 20em; }

div.intro-slide div#intro-img {
  overflow: hidden;
  margin-top: 1em; }
  div.intro-slide div#intro-img img {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

div.experience-slide h2 {
  padding-top: 1em; }

div.experience-slide div.career-block {
  text-align: center;
  overflow: hidden;
  margin: 2em 0 3em; }
  div.experience-slide div.career-block section {
    width: 25em;
    display: inline-block;
    text-align: left; }
    div.experience-slide div.career-block section h3, div.experience-slide div.career-block section h4, div.experience-slide div.career-block section h5 {
      padding: .2em 0; }
    div.experience-slide div.career-block section ul li {
      padding: .2em 0;
      margin-left: 1em; }
  div.experience-slide div.career-block div.img-container {
    overflow: auto;
    display: inline-block;
    margin-left: 5em;
    width: 21em; }

div.carousel-slide.portfolio-slide {
  margin: 2.5em 0 0;
  background: url("../../../img/whtblok.jpg");
  background-position: 0 0;
  background-size: 100% 110%;
  background-repeat: round; }
  div.carousel-slide.portfolio-slide div.portfolio {
    text-align: center;
    overflow: auto;
    margin: 1em 0; }
    div.carousel-slide.portfolio-slide div.portfolio div.project-block {
      vertical-align: middle;
      width: 20em;
      display: inline-block;
      margin: 3em 3em 4em; }
      div.carousel-slide.portfolio-slide div.portfolio div.project-block a img {
        width: 17em;
        margin-bottom: 2em; }

div.bio-slide {
  margin: 1.5em auto 0 auto;
  background: url("../../../img/circwht.jpg");
  background-position: 0 0; }
  div.bio-slide div#bio {
    text-align: center;
    padding: 1em 0;
    max-width: 60%;
    margin: auto;
    overflow: hidden; }
  div.bio-slide figure {
    margin: 0 auto 3em;
    width: 30em;
    height: auto; }

div.outro-slide {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center; }
  div.outro-slide div#outro {
    margin: auto;
    max-width: 60%; }

div#popup_container {
  width: 100%;
  height: 100%;
  opacity: .95;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  overflow: auto; }
  div#popup_container div#form_container {
    position: absolute;
    left: 40.5%;
    top: 29%; }
    div#popup_container div#form_container form {
      max-width: 300px;
      min-width: 250px; }
      div#popup_container div#form_container form img#close {
        width: 22px;
        height: auto;
        position: absolute;
        right: -25px;
        top: -10px;
        cursor: pointer; }
      div#popup_container div#form_container form input {
        width: 300px; }
      div#popup_container div#form_container form textarea {
        width: 300px;
        height: 200px; }
      div#popup_container div#form_container form div.send {
        margin: 0 auto; }

footer {
  margin: 2em auto 0;
  text-align: center;
  padding: 2em 2em .3em; }
  footer div {
    display: inline-block;
    margin-top: 2.5%;
    margin-right: 4%;
    margin-bottom: 0;
    margin-left: 4%;
    vertical-align: top;
    overflow: hidden;
    width: 10em;
    height: 11em; }
    footer div img {
      width: 9em;
      transition: width .3s; }
  footer div#copyright {
    display: block;
    height: 2.5em;
    margin: 0 auto; }

nav.navbar {
  background-color: white;
  box-shadow: 0 8px 6px -6px #999;
  z-index: 999; }
  nav.navbar ul li a {
    color: #B56357;
    text-shadow: 2px 2px 3px #B4DBC0;
    text-decoration: none;
    font-size: 1.6em;
    transition: color .3s; }
  nav.navbar ul li a:hover {
    color: #A7B3A5; }

div.carousel-slide a.headline {
  font-size: 26px;
  text-decoration: none;
  text-shadow: 2px 2px 3px #B4DBC0;
  font-size: 1.5em;
  transition: color .3s;
  z-index: 1;
  color: #3F1A0E; }

div.carousel-slide a.headline:hover {
  color: #FCF1C6; }

div.carousel-slide h2 {
  font-size: 2.7em;
  font-style: italic;
  text-decoration: none;
  font-weight: lighter;
  text-shadow: 2px 2px 3px #FCF1C6; }

div.carousel-slide h2#career {
  text-shadow: 2px 2px 3px #B56357; }

div.carousel-slide h2 + p {
  font-size: 1.6em; }

div.carousel-slide h3 a {
  font-size: 1.5em;
  color: #B56357;
  text-shadow: 2px 2px 3px #B4DBC0;
  transition: color .3s; }

div.carousel-slide h3 a:hover {
  color: #A7B3A5; }

div.carousel-slide h4 {
  font-size: 1.6em;
  color: #6666ff;
  text-shadow: 2px 2px 3px #FCF1C6; }

div.carousel-slide h5[name^=address] {
  font-size: 1.5em;
  color: #A7B3A5;
  text-shadow: 2px 2px 3px #FCF1C6; }

div.carousel-slide ul li {
  font-size: 1.4em; }

div.carousel-slide div.img-container a img {
  border-radius: 8%; }

div.carousel-slide div.project-block p {
  font-size: 1.4em; }

div.experience-slide {
  background: #FFFFFF; }

div.portfolio-slide {
  background: #FFFFFF; }
  div.portfolio-slide h2.title {
    text-shadow: 2px 2px 3px #F7CE2E; }

div.bio-slide {
  background-color: #FFFFFF; }
  div.bio-slide h2.title {
    text-shadow: 2px 2px 3px #1E90FF; }

div.outro-slide {
  background: #b4dbc0;
  background: -webkit-gradient(left top, right top, color-stop(0%, #b4dbc0), color-stop(50%, #fcf1c6), color-stop(100%, #b4dbc0));
  background: linear-gradient(to right, #b4dbc0 0%, #fcf1c6 50%, #b4dbc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4dbc0', endColorstr='#b4dbc0', GradientType=1 ); }
  div.outro-slide div#outro {
    text-align: center;
    font-size: 2em;
    max-width: 70%; }
    div.outro-slide div#outro p {
      padding-top: 1em;
      font-weight: bold; }
    div.outro-slide div#outro p.outro:first-letter {
      font-size: 2.5em; }

div#popup_container {
  background-color: #0A1612; }
  div#popup_container div#form_container form label {
    color: #F7CE2E; }
  div#popup_container div#form_container form div.send {
    text-align: center;
    background: #B4DBC0; }
    div#popup_container div#form_container form div.send a {
      font-size: 1.7em;
      color: #1E90FF;
      text-shadow: 1px 1px 1px #B56357; }
  div#popup_container div#form_container form img {
    background-color: #FFFFFF; }

footer {
  background: #FFFFFF; }
  footer img {
    border-radius: 8%;
    vertical-align: top; }
  footer img:hover {
    width: 10em;
    opacity: .7; }
