/* File: application.scss. For dynamic elements of page. */
@import "variables";
@import "mixins";
@import "./base/_normalize";
@import "./layout/_main";
@import "modules";

//// Use font-awesome.com or glyphicons.com icons!!! ////

//Navigation -------------------------------------------
nav.navbar {
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  z-index: 999;
  ul {
    li {
      a {
        color: $rust;
        text-shadow: 2px 2px 3px $mint;
        text-decoration: none;
        font-size: 1.6em;
        transition: color .3s;
      }
      a:hover { color: $seafoam; }
    }
  }
}

//Slides ----------------------------------------------
div.carousel-slide {
  a.headline {
    font-size: 26px;
    text-decoration: none;
    text-shadow: 2px 2px 3px $mint;
    font-size: 1.5em;
    transition: color .3s;
    z-index: 1;
    color: $brown;
  }
  a.headline:hover { color: $cream; }
  h2 {
    font-size: 2.7em;
    font-style: italic;
    text-decoration: none;
    font-weight: lighter;
    text-shadow: 2px 2px 3px $cream;
  }
  h2#career {text-shadow: 2px 2px 3px $rust;}
  h2+p {font-size: 1.6em;}
  h3 {
		a {
	    font-size: 1.5em;
	    color: $rust;
	    text-shadow: 2px 2px 3px $mint;
			transition: color .3s;
		}
		a:hover { color: $seafoam; }
  }
  h4 {
    font-size: 1.6em;
    color: $purpbleu;
    text-shadow: 2px 2px 3px $cream;
  }
  h5[name ^= address] {
    font-size: 1.5em;
    color: $seafoam;
    text-shadow: 2px 2px 3px $cream;
  }
  ul li {
    font-size: 1.4em;
  }
  div.img-container {
    a img { border-radius: 8%; }
  }

  div.project-block p { font-size: 1.4em; }

}

div.experience-slide {
  background: $white;
}

div.portfolio-slide {
  background: $white;
	h2.title { text-shadow: 2px 2px 3px $marigold; }
}

div.bio-slide {
  background-color: $white;
	h2.title { text-shadow: 2px 2px 3px $sky; }
}

div.outro-slide {
  div#outro {
    text-align: center;
    font-size: 2em;
    max-width: 70%;
    p {
      padding-top: 1em;
      font-weight: bold;
    }
    p.outro:first-letter {
      font-size: 2.5em;
    }
  }

  background: rgba(180,219,192,1);
  background: -moz-linear-gradient(left, rgba(180,219,192,1) 0%, rgba(252,241,198,1) 50%, rgba(180,219,192,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(180,219,192,1)), color-stop(50%, rgba(252,241,198,1)), color-stop(100%, rgba(180,219,192,1)));
  background: -webkit-linear-gradient(left, rgba(180,219,192,1) 0%, rgba(252,241,198,1) 50%, rgba(180,219,192,1) 100%);
  background: -o-linear-gradient(left, rgba(180,219,192,1) 0%, rgba(252,241,198,1) 50%, rgba(180,219,192,1) 100%);
  background: -ms-linear-gradient(left, rgba(180,219,192,1) 0%, rgba(252,241,198,1) 50%, rgba(180,219,192,1) 100%);
  background: linear-gradient(to right, rgba(180,219,192,1) 0%, rgba(252,241,198,1) 50%, rgba(180,219,192,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4dbc0', endColorstr='#b4dbc0', GradientType=1 );

}

div#popup_container {
  background-color: $steel;
  div#form_container {
    form {
      label {
        color: $marigold;
      }
      div.send {
        text-align: center;
        background: $mint;
        a {
          font-size: 1.7em;
          color: $sky;
          text-shadow: 1px 1px 1px $rust;
        }
      }
      img { background-color: $white; }
    }
  }
}

footer {
  background: $white;
  img {
    border-radius: 8%;
    // -webkit-transition: opacity 8s ease 8s, scale 8s ease-out 8s;
    // -moz-transition: opacity 8s ease 8s, scale 8s ease-out 8s;
    // -ms-transition: opacity 8s ease 8s, scale 8s ease-out 8s;
    // transition: opacity 8s ease 8s;
    vertical-align: top;
  }
  img:hover {
    width: 10em;
    opacity: .7;
  }
}
